{
  "extends": "react-app",
  "rules": {
    "no-shadow": "warn",
    "no-cond-assign": ["error", "except-parens"],
    "no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
