.body {
  max-height: 200px;
  overflow: auto;
  background-color: #eee;
  border-radius: 15px;
}

.bigBody {
  composes: body;
  max-height: 400px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #ddd;
}

.row {
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.rowAlignEnd {
  padding: 20px;
  display: flex;
  align-items: flex-end;
}

.selfEnd {
  align-self: flex-end;
}

.baseContent {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  flex: auto;
}

.content {
  composes: baseContent;
  flex: auto;
  height: 500px;
}

.flexibleHeightContent {
  composes: content;
  height: initial;
}

.smallContent {
  composes: content;
  height: 100px;
}

.miniContent {
  composes: content;
  height: 40px;
}

.largeContent {
  composes: content;
  min-height: 700px;
  height: 120vh;
}

.sidebar {
  composes: baseContent;
  min-width: 120px;
}

.fauxNavElement {
  height: 10px;
  background-color: #eee;
}

.fauxNav {
  margin: 20px 0;
}

.fauxNavElement:not(:last-child) {
  margin-bottom: 10px;
}

.codeBox {
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bg {
  background-color: #eee;
  padding: 10px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1) inset;
}

.codeBoxResultSm {
  composes: bg;
  max-height: 100px;
  overflow: auto;
}

.codeBoxResultMd {
  composes: bg;
  max-height: 200px;
  overflow: auto;
}

.codeBoxResultLg {
  composes: bg;
  max-height: 400px;
  overflow: auto;
}

.codeBoxCode {
  background-color: #0d1117;
}
