.negativeMargin {
  margin-left: -2rem;
  margin-right: -2rem;
}

@media screen and (max-width: 30em) {
  .negativeMargin {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

.body {
  composes: negativeMargin;
  max-height: 200px;
  overflow: auto;
  background-color: #eee;
  border-radius: 1rem;
}

.bigBody {
  composes: body;
  max-height: 400px;
  box-shadow: 0 0 1rem -5px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #ddd;
}

.row {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
}

.rowAlignEnd {
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}

.selfEnd {
  align-self: flex-end;
}

.baseContent {
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 5px;
  flex: auto;
}

.content {
  composes: baseContent;
  flex: auto;
  height: 20rem;
}

.flexibleHeightContent {
  composes: content;
  height: initial;
}

.smallContent {
  composes: content;
  height: 8rem;
}

.miniContent {
  composes: content;
  height: 4rem;
}

.largeContent {
  composes: content;
  min-height: 40rem;
  height: 120vh;
}

.sidebar {
  composes: baseContent;
  min-width: 8rem;
}

.fauxNavElement {
  height: 10px;
  background-color: #eee;
}

.fauxNav {
  margin: 1rem 0;
}

.fauxNavElement:not(:last-child) {
  margin-bottom: 0.75rem;
}

.codeBox {
  composes: negativeMargin;
  border: 1px solid #ddd;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bg {
  background-color: #eee;
  box-shadow: 0 0 1rem -5px rgba(0, 0, 0, 0.1) inset;
}

.codeBoxResultSm {
  composes: bg;
  max-height: 6rem;
  overflow: auto;
}

.codeBoxResultMd {
  composes: bg;
  max-height: 15rem;
  overflow: auto;
}

.codeBoxResultLg {
  composes: bg;
  max-height: 30rem;
  overflow: auto;
}

.codeBoxCode {
  background-color: #0d1117;
}

.codeBoxCode :global(.astro-code) {
  margin: 0;
}
